logs/
.idea
.idea/
.idea/*
target
target/*
.DS_Store
*.class
*.iml
log/
src/main/resources/dev/
src/main/resources/dev/*
src/main/resources/prod/
src/main/resources/prod/*
src/main/resources/test/
src/main/resources/test/*
